<div class="index-text-container">
<h1 class = "text-center"> Temperature and Humidity Sensors </h1>
<div class = "container">
<div class="row">
   <div class="col-md-6">
      <div class="box">
         Total Sensors: <%= @totalSensors %>
      </div>
   </div>
   <div class="col-md-6">
      <div class="box">
         Total Readings:<%= @totalReadings %>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="box">
         Last Temperature: <%= @lastTemp %>
      </div>
   </div>
   <div class="col-md-6">
      <div class="box">
         Last Humidity: <%= @lastHum %>
      </div>
   </div>
</div>
</div>
</div>

