<div id="flash">
  <% flash.each do |key, value| -%>
    <div id="flash_<%= key %>"><%=h value %></div>
  <% end %>
</div>
<div id="clearance" class="sign-up">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
  <% end %>
</div>