// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nodes-text-container{
	background-color: white; 
	width: 90%;
	padding-bottom: 20px;
	margin: auto;
}