// Place all the styles related to the Readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-padding{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 50px;
}


table{
	width: 100%;
}

th, tr{
	height: 30px;
}


.readings-text-container{
	background-color: white; 
	width: 90%;
	padding-bottom: 20px;
	margin: auto;
}
